@tailwind base;
@tailwind components;
@tailwind utilities;


.my-container {
  @apply px-4 py-2 mx-auto sm:max-w-xl md:max-w-full lg:w-[1380px] md:px-24 lg:px-8 lg:py-8;
}


.btn-primary {
  @apply  transition duration-200  shadow-md  md:mb-0  px-4 py-2 md:px-11 md:py-3 m-2 text-xl rounded-3xl border-transparent border-2 text-white hover:border-primary hover:bg-transparent hover:text-primary bg-primary;
}
.btn-secondary {
  @apply  transition duration-200  shadow-md  md:mb-0  px-4 py-2 md:px-12 md:py-4 m-2 text-2xl rounded-3xl border-transparent border-2 text-white hover:border-primary hover:bg-transparent hover:text-primary bg-accent;
}
.btn-white {
  @apply  transition duration-200 rehn-medium shadow-md  md:mb-0  px-4 py-2 md:px-12 md:py-4 m-2 text-2xl rounded-3xl border-transparent border-2 text-primary hover:border-white hover:bg-transparent hover:text-white bg-white;
}




.active {
  @apply font-bold tracking-wide text-accent2 transition-colors duration-200;
}
.active2 {
  @apply font-bold text-3xl tracking-wide text-accent2 transition-colors duration-200;
}

.default {
  @apply font-medium tracking-wide text-primary transition-colors duration-200 hover:text-accent2;
}
.default2 {
  @apply rehn-light text-2xl tracking-wide text-white transition-colors duration-200 hover:text-accent2;
}

.title{
  @apply rehn-bold text-4xl lg:text-6xl mb-8;
}

.checkbox {
  @apply relative float-left -ml-[1.5rem] mr-[6px] mt-[0.15rem] h-[1.125rem] w-[1.125rem] appearance-none  border-[0.125rem] border-solid border-neutral-300 outline-none before:pointer-events-none before:absolute before:h-[0.875rem] before:w-[0.875rem] before:scale-0 before:rounded-full before:bg-transparent before:opacity-0 before:shadow-[0px_0px_0px_13px_transparent] before:content-[''] checked:border-primary checked:bg-primary checked:before:opacity-[0.16] checked:after:absolute checked:after:-mt-px checked:after:ml-[0.25rem] checked:after:block checked:after:h-[0.8125rem] checked:after:w-[0.375rem] checked:after:rotate-45 checked:after:border-[0.125rem] checked:after:border-l-0 checked:after:border-t-0 checked:after:border-solid checked:after:border-white checked:after:bg-transparent checked:after:content-[''] hover:cursor-pointer hover:before:opacity-[0.04] hover:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] focus:shadow-none focus:transition-[border-color_0.2s] focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] focus:before:transition-[box-shadow_0.2s,transform_0.2s] focus:after:absolute focus:after:z-[1] focus:after:block focus:after:h-[0.875rem] focus:after:w-[0.875rem] focus:after:rounded-[0.125rem] focus:after:content-[''] checked:focus:before:scale-100 checked:focus:before:shadow-[0px_0px_0px_13px_#3b71ca] checked:focus:before:transition-[box-shadow_0.2s,transform_0.2s] checked:focus:after:-mt-px checked:focus:after:ml-[0.25rem] checked:focus:after:h-[0.8125rem] checked:focus:after:w-[0.375rem] checked:focus:after:rotate-45 checked:focus:after:rounded-none checked:focus:after:border-[0.125rem] checked:focus:after:border-l-0 checked:focus:after:border-t-0 checked:focus:after:border-solid checked:focus:after:border-white checked:focus:after:bg-transparent dark:border-neutral-600 dark:checked:border-primary dark:checked:bg-primary dark:focus:before:shadow-[0px_0px_0px_13px_rgba(255,255,255,0.4)] dark:checked:focus:before:shadow-[0px_0px_0px_13px_#3b71ca]
}









@font-face{
  font-family: rehn-bold;
  src: url(./assets/font/Rehn-Bold.otf)
}

@font-face{
  font-family: rehn-regular;
  src: url(./assets/font/Rehn-Regular.otf)
}
@font-face{
  font-family: rehn-medium;
  src: url(./assets/font/Rehn-Medium.otf)
}

@font-face {
  font-family: rehn-extrabold;
  src: url(./assets/font/Rehn-ExtraBold.otf)
}

@font-face{
   font-family: rehn-light;
  src: url(./assets/font/Rehn-Light.otf)
}

.rehn-bold{
  font-family: rehn-bold;
}

.rehn-regular{
  font-family: rehn-regular;
}

.rehn-medium{
  font-family: rehn-medium;
}

.rehn-light{
  font-family: rehn-light;
}

.rehn-extrabold{
  font-family: rehn-extrabold;
}